.body{
    background-color: lightblue;
    width: calc(100% - 8px);
}
.title{
    font-family: cursive;
    color: #5f021f;
    text-align: center;
}
.image{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.divcanele{
    float: left;
    margin-left: 25%;
}
.divfour{
    float : right;
    margin-right: 25%;
}
.buttonsize{
    width : 141px;
   height: 35px;
   font-size: 75%;
   display: block;
   margin: auto;
}
.divclick{
    float : left;
    margin-left: 8% ;
}